
/* =====  Apresentação  ====*/
.apresentacao {
    padding: 32px 10%;
}
.apresentacao__caixa {
    padding: 61px 17px 61px 0;
}
.apresentacao__titulo {
    line-height: 1.1em;
}
.apresentacao__texto {
    font-size: 1.38em;
    line-height: 1.2em;
    margin: 24px 0;
}
.apresentacao__link {
    margin: 0 36px 0 0;
}
.apresentacao__link:nth-child(4) {
    margin: 0;
}
.apresentacao__link--seta {
    margin: 0 0 -5px 5px;
}
.apresentacao__imagem--avatar{
    background: url(../img/foto-lucas-perfil.png) center / cover no-repeat;
    width: 386px;
    height: 386px;
}