
/* =======  Cabeçalho  ======*/
.cabecalho{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.cabecalho__barra {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0;
}
.logo__texto{
    margin: 0;
}
.referencias {
    margin: 0 32px 0 0;
}

.referencias--email {
    font-weight: 700;
    margin: 0;
}
