
/* ======== seção formação ====*/
.formacao{
    background: #EAF2FD;
    padding: 82px 10%;
}
.formacao__caixa {
    padding: 32px 0 0;
}
.formacao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 16px;
}
.formacao__lista {
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 368px;
    height: 347px;
}
.tituloConteudo {
    font-size: 22px;
    margin: 8px 0 0;
}
.textoConteudo {
    font-weight: 500;
    margin: 8px 0 0;

}
