
/* ======== seção formação ====*/
.formacao{
    background: #EAF2FD;
    padding: 32px;
}
.formacao__caixa {
    align-items: center;
    padding-top: 16px;
}
.formacao__conteudo{
    margin-top: 16px;
}
.formacao__lista {
    align-items: center;
    justify-content: center;

    height: 130px;
    width: 296px;
}
/* ===========  tabletes  ===========*/
@media screen and (min-width: 768px){
    .formacao__caixa {
        flex-direction: row;
    }
    .formacao__conteudo{
        margin-right: 16px;
    }

}
/* =========  desktop  ========== */
@media screen and (min-width: 1024px){
    .formacao{
        padding: 82px 9%;
    }
    .formacao__caixa {
        justify-content: center;
    }
    .formacao__lista {
        
        height: 347px;
        width: 368px;
    }
} 