
/* ======== seção formação ====*/
.formacao{
    background: #EAF2FD;
    padding: 82px 9%;
}
.formacao__caixa {
    justify-content: center;
    padding: 32px 0 0;
}
.formacao__conteudo {
    margin-right: 16px;
}
.formacao__lista {
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 368px;
    height: 347px;
}
.tituloConteudo {
    font-size: 22px;
    margin-top: 8px;
}
.textoConteudo {
    font-weight: 500;
    margin-top: 8px;

}
