/* =========  Corpo e cabeça - desktop  ========== */

@media screen and (min-width: 1440px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    header {
        width: 1440px;
        background: #F5F5F5;
    }
}
@media screen and (min-width: 770px){
    .apresentacao__caixa {
        padding: 61px 17px 61px 0;
    }
}

/* =========   Meio - desktop =========*/

@media screen and (min-width: 1440px) {
    main {
        width: 1440px;
    }
}
@media screen and (min-width: 940px){
    .formacao{
        padding: 82px;
    }
}

main{
    display: flex;
    flex-direction: column;
}

/* =========   resposividade   =========*/

@media screen and (max-width: 940px) {
    .topo{
        margin: 0 4%;
    }
    .foto-lucas{
        height: 282px;
    }
    .sobreMin div{
        padding: 32px;
    }
    .box, .formacao{
        padding: 32px;
    }
    
}
@media screen and (max-width: 770px) {
    .navegacao{
       padding: 16px 0; 
    }
    .referencias{
        display: none;
    }
    .foto-lucas{
        height: 146px;
    }
    h1, h2{
        font-size: 1.38em;
        line-height: 1.2em;
    }
    p, .apresentacao p, h3{
        font-size: 16px;
        line-height: 19px;
    }
    .sobreMin p, .academica p{
        font-size: 14px;
        line-height: 16px;
    }
    .skills li{
        width: 224px;
        height: 118px;
    }
    .academica img{
        width: 60%;
    }
}
@media screen and (max-width: 426px){
    .apresentacao{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 16px 0;
    }
    .diretorio {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .diretorio li{
        margin: 0;
    }
    .foto-lucas{
        height: 98px;
    }
    .apresentacao p, a{
        font-size: 14px;
        line-height: 19px;
    }
    .sobreMin div, .box{
        padding: 16px;
    }
    .skills li{
        width: 156px;
        height: 118px;
    }
    .skills li:nth-child(even){
        margin: 32px 0 0;
    }
    .academica{
        display: flex;
        flex-direction: column;
    }
    .academica li{
        width: 296px;
        height: 118px;
    }
}