/* =========   Meio - desktop =========*/

@media screen and (min-width: 1440px) {
    main {
        width: 1440px;
    }
}
@media screen and (min-width: 940px){
    .formacao{
        padding: 82px;
    }
}

main{
    display: flex;
    flex-direction: column;
}

/* ======== seção sobre mim ====*/
.sobreMin{
    background: #EAF2FD;
}
.sobreMin div{
    padding: 64px 8%;
    
}
h2 {
    margin: 0;
    font-size: 2em;
    line-height: 38px;
}
.sobreMin p{
    margin: 16px 0 0;
}
.assinatura{
    position: static;
    margin: 16px 0 0;
    width: 140px;
    height: 52px;
}

/* ======== seção skills e hobbies ====*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
}
.box-skills{
    padding: 32px 0 88px;
}
.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.skills li{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px;
    box-sizing: border-box;
    margin: 32px 8px 0 0;
    width: 176px;
    height: 174px;
}
.skills h2{
    text-align: center;
}
.skills p{
    font-weight: bold;
    margin: 8px 0 0;
}

/* ======== seção formação ====*/
.formacao{
    background: #EAF2FD;
}
.academica{
    display: flex;
    flex-direction: row;
    padding: 32px 0 0;
}
.academica ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 8px;
    padding: 0;
}
.academica li{
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 368px;
    height: 347px;
}
h3{
    font-size: 22px;
    margin: 8px 0 0;
}
.academica p{
    font-weight: 500;

}

/* =====  seção experiência === */
.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}
.box-projetos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
}
.box-projetos img{
    padding: 10px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}
.box-projetos div{
    margin: 0 6px;
    width: 348px;
    height: 112px
}
.box-projetos p {
    font-weight: 500;
    margin: 8px 0;
}
.btn-projetos{
    padding: 16px;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    margin: 0 16px 0 0;
    color: #2A7AE4;
}
#demo{
    background: #2A7AE4;
    color: #FFFFFF;
}
.btn-projetos:hover{
    background: #D4E4FA;
}
#demo:hover{
    background: #5595E9;
}