/* =========   Meio  =========*/

@media screen and (min-width: 1440px) {
    main {
        width: 1440px;
    }
}
@media screen and (min-width: 940px){
    .formacao{
        padding: 82px;
    }
}

main{
    display: flex;
    flex-direction: column;
}

/* ======== seção sobre mim ====*/
.sobreMin{
    background: #EAF2FD;
}
.sobreMin div{
    padding: 64px 152px;
    
}
h2 {
    margin: 0;
    font-size: 2em;
    line-height: 38px;
}
.sobreMin p{
    margin: 16px 0 0;
}
.assinatura{
    position: static;
    margin: 16px 0 0;
    width: 140px;
    height: 52px;
}
/* ======== seção skills e hobbies ====*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
}
.box{
    padding: 32px 0 88px;
}
.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.skills li{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px;
    box-sizing: border-box;
    margin: 32px 8px 0 0;
    width: 176px;
    height: 174px;
}
.skills h2{
    text-align: center;
}
.skills p{
    font-weight: bold;
    margin: 8px 0 0;
}
/* ======== seção formação ====*/
.formacao{
    background: #EAF2FD;
}
.academica{
    display: flex;
    flex-direction: row;
    padding: 32px 0 0;
}
.academica ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 8px;
    padding: 0;
}
.academica li{
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 368px;
    height: 347px;
}
.academica h3{
    font-size: 22px;
    margin: 8px 0 0;
}
.academica p{
    font-weight: 500;

}