
/* =====  seção experiência === */
.projetos{
    padding: 32px 9%;
}
.projetoCaixaStyle{
    align-items: center;
    width: 100%;
}
.projeto__caixa {
    padding: 32px 0;
}
.projeto__caixa--reverso{
    flex-direction: row-reverse;
}
.projeto__imagem{
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    mix-blend-mode: normal;
    padding: 16px;
    width: 70%;
    height: 406px;
}
.projeto__imagem--decodificador{
    background: url(../img/decoder1.png) center / cover no-repeat;
    width: 100%;
    height: 100%;
}
.projeto__imagem--jogoDaForca{
    background: url(../img/jogo-da-forca1.png) center / cover no-repeat;
    width: 100%;
    height: 100%;
}
.projeto__conteudo {
    width: 30%;
}
.projeto__conteudo--reverso {
    padding-left: 16px;
    width: calc(33% - 16px);
}
.projeto__link{
    align-items: flex-end;
}
.projetos__botao{
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    margin: 8px 16px 0 0;
    padding: 16px;
}
.projetos__botao:hover{
    background: #D4E4FA;
}
.projetos__botao--demo{
    color: #FFFFFF;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 16px;
}

.projetos__botao--demo:hover{
    background: #5595E9;
}

/* ===========  mobile  =========*/
@media screen and (min-width: 0px){
    
}
/* ===========  tabletes  ===========*/
@media screen and (min-width: 768px){

}
/* =========  desktop  ========== */
@media screen and (min-width: 1024px){
   
} 