
/* ======== seção skills e hobbies ====*/
.skills__caixa {
    padding: 32px 9% 88px;
}
.skills__conteudo {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 24px;
}
.lista {
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.lista:hover{
    transform: scale(1.08);
    transition: 500ms;
}
.lista:active{
    border: 1px solid #10468d;
}
.skills__lista {
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;

    height: 174px;
    width: 176px;
}
.skills__lista:last-child{
    margin: 8px 0 0;
}
.tituloSecao {
    text-align: center;
}
.textoSecao{
    font-weight: bold;
    margin: 8px 0 0;
}
