/* ======== seção skills e hobbies ====*/
.skills__conteudo {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.lista {
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.lista:hover{
    transform: scale(1.08);
    transition: 500ms;
}
.lista:active{
    border: 1px solid #10468d;
}
.skill__lista {
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 24px;

    height: 118px;
    width: 156px;
}
.skill__texto, .hobbies__texto{
    font-weight: bold;
    margin-top: 8px;
}
/* ===========  mobile  =========*/
@media screen and (min-width: 0px){
    .skills__caixa {
        padding: 16px;
    }
    
}
@media screen and (max-width: 426px){
    .skill__lista:nth-child(even){
        margin: 24px 0 0;
    }
}
/* ===========  tabletes  ===========*/
@media screen and (min-width: 768px){
    .skills__caixa {
        padding: 32px;
    }
    .skills__conteudo {
        justify-content: flex-start;
        padding-top: 24px;
    }
    .skill__lista {

        height: 118px;
        width: 224px;
    }
    
}

/* =========  desktop  ========== */
@media screen and (min-width: 1024px){
    .skills__caixa {
        padding: 32px 9% 88px;
    }
    .skills__conteudo {
        justify-content: center;
        padding-top: 24px;
    }
    .skill__lista {
        margin-right: 8px;
        margin-top: 8px;
    
        height: 174px;
        width: 176px;
    }
}
