
/* ======== seção sobre mim ====*/
.sobreMin{
    background: #EAF2FD;
}
.sobreMin__caixa{
    padding: 64px 20% 64px 0;
    
}
.sobreMin__texto{
    margin-top: 16px;
}
.sobreMin__assinatura {
    background: url(../img/assinatura-lucas.png) center / cover no-repeat;
    margin-top: 16px;
    width: 140px;
    height: 52px;
}